.registration-card {
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 1200px;
	width: 100%;
	padding: 30px;
	background-color: white;
	box-sizing: border-box;
	margin: auto;
}
.container-card {
	padding-top: 80px; /* Tambahkan jarak pada bagian atas */
}

.registration-card-header.bg-teal {
	background-color: #009688;
	padding: 15px;
	margin-bottom: 15px;
}

.registration-card-header h4 {
	margin: 0;
	color: white;
	font-size: 1.5em;
}

.form-group label {
	font-weight: bold;
	font-size: 1.1em;
}

.form-group input,
.form-group select {
	border-radius: 5px;
	padding: 10px;
	font-size: 1em;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
}

.form-group input[type="file"] {
	padding: 5px;
}

.button-group .btn-warning {
	background-color: #ffc107;
	border: none;
	padding: 12px 25px;
	cursor: pointer;
}

.button-group .btn-teal {
	background-color: #009688;
	border: none;
	padding: 12px 25px;
	cursor: pointer;
}

.button-group .btn-warning:hover,
.button-group .btn-teal:hover {
	opacity: 0.8;
}

/* Responsive adjustments */
@media (min-width: 992px) {
	.form-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.form-group label {
		width: 25%;
	}

	.form-group input,
	.form-group select {
		width: 70%;
	}
}

@media (max-width: 768px) {
	.registration-card {
		width: 100%;
		margin-top: 20px;
	}

	.registration-card-header h4 {
		font-size: 1.2em;
	}

	.form-group label,
	.form-group input,
	.form-group select {
		font-size: 1em;
	}
	.button-group {
		display: flex;
		flex-direction: row; /* Pastikan tombol tetap dalam satu baris */
		justify-content: space-between;
	}
}
